@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PTSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url("/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf") format("truetype");
}

*:focus {
    outline: none;
}

body {
    background-color: white;
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #4183C4;
}

h1, h2, h3, h4, h5 {
    font-family: Lato;
    font-weight: 200;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.1rem;
    font-variant: small-caps;
}

a, nav {
    font-family: "Lato";
}

nav {
    width: 100%;
    background-color: white;
    margin: 0;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 10px #e5e5e5;
}

nav .item {
    font-size: 0.9rem;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 16px;
    color: black;
    margin: 10px;
}

nav .item.active, nav .item:hover {
    background-color: #eee;
}

nav .right.menu {
    float: right;
}

nav .right.menu::after {
    content: "";
    display: block;
    clear: both;
}

nav .right.menu > .ui.item {
    font-size: 1.1rem;
}

nav .right.menu > .ui.item:hover {
    background-color: white;
}

.main.content {
    width: 80%;
    margin: auto;
}

.tag {
    border-radius: 3px;
    padding: 6px 8px;
    font-family: 'Lato';
    font-size: 0.9rem;
    background-color: #e5e5e5;
    margin-left: 5px;
    margin-right: 5px;
}

pre.language-viz {
    background-color: white !important;
    border: 0 !important;
}