body {
    background-color: #f5f5f5;
    font-family: 'Open Sans';
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

h1, h2 {
    font-family: 'PT Sans' !important;
}

h3, h4 {
    font-family: 'PT Sans' !important;
}

h1.sub, h2.sub, h5, h6 {
    font-family: 'Roboto Condensed' !important;
}

p {
    font-size: 1.2rem;
}

:not(pre) > code {
    font-size: 95%;
    padding: 1px 4px;
    background-color: #f5f5f5;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
}

code {
    font-family: 'FiraCode-Regular' !important;
    font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
    text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
}

a {
    outline: none !important;
}

nav {
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav .item {
    color: white !important;
}

nav a.active.item {
    background-color: #303030 !important;
}
nav a.item:hover {
    background-color: #3a3a3a !important;
}

.content {
    width: 100%;
    margin: auto;
}

.index-background {
    min-height: 400px;
    background: url("img/background.jpg") center !important;
}

.index-background .ui.inverted.header {
    margin-top: 100px;
}

.thin bold {
    font-weight: bold;
}

.thin {
    font-weight: normal;
}

.main {
    min-width: 400px !important;
    padding: 15px;
    background-color: white;
    border: 1px solid #f0f0f0;
    margin-top: 80px !important;
}

.eighty-percent {
    max-width: 864px;
    min-width: 80%;
    margin: auto;
}

.ninety-five-percent {
    max-width: 1020px;
    min-width: 95%;
    margin: auto;
}

.seventy-percent {
    max-width: 756px;
    min-width: 70%;
    margin: auto;
}

.padding-twenty {
    padding: 20px !important;
}

.padding-fourty {
    padding: 40px !important;
}

.padding-sixty {
    padding: 60px !important;
}

.ninety-percent {
    width: 90%;
    margin: auto;
}

.graph {
    width: 100%;
}

.graph > img {

    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: center;

}

.ui.label {
    margin-top: 2px;
    margin-bottom: 2px;
}
