.posts.get.main.content > .header {
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 960px;
    border-bottom: 1px solid #333333;
    padding-bottom: 20px;
}

.posts.get.main.content > .header > h1.main.title {
    text-align: center;
}

.posts.get.main.content > .header > h2.main.sub-header {
    font-size: 1.2rem;
    line-height: calc(1.2rem + 8px);
    font-family: 'PT Sans';
    text-align: justify;
}

.posts.get.main.content > .header > h3.author,
.posts.get.main.content > .header > h3.date {
    display: inline-block;
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.2rem;
    width: calc(100% - 20px);
    margin: auto;
    font-family: 'PT Sans';
    color: #969896;
    font-weight: bold;
}

.posts.get.main.content > div.post.content {
    max-width: 880px;
    margin: auto;
}

.posts.get.main.content table {
    width: 100%;
    background-color: white;
}

.posts.get.main.content table {
    width: 100%;
    background-color: white;
    border-spacing: 0;
    border-radius: 3px;
    border: 1px solid rgba(34,36,38,.15);
    color: #262727;
}

.posts.get.main.content table > thead > tr > th,
.posts.get.main.content table > tbody > tr > td {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.posts.get.main.content table > thead > tr > th {
    background-color: #f9fafb;
}
.posts.get.main.content table > tbody > tr:nth-child(2n) > td {
    background-color: #fafafb;
}


.posts.get.main.content table > tbody > tr:last-child > td {
    border-bottom: 0;
}

.posts.get.main.content table > thead > tr > th:last-child,
.posts.get.main.content table > tbody > tr > td:last-child {
    border-right: 0;
}

.posts.get.main.content table > thead > tr > th {
    font-family: 'PT Sans';
    font-size: 1.1rem;
    padding: 8px 10px;
}

.posts.get.main.content table > tbody > tr > td {
    padding: 6px 8px;
    border-right: 1px solid #dedede;
}